.hero-card {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  min-height: calc(100vh - 64px);
}

.hero-left {
  flex: 1;
  background: var(--color-primary);
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
}

.hero-left-header {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  cursor: pointer;
}

.hero-left-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left-body h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.hero-left-body p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 107%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 64px;
}

.hero-btn {
  text-decoration: none;
  align-self: flex-start;
  background: transparent;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 18px 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
}

.hero-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.hero-right {
  flex: 1;
  position: relative;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-image: url("/src/assets/background.png");
  background-size: cover;
  background-position: center;
}

.hero-right-header {
  display: flex;
  justify-content: flex-end;
}

.hero-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.auth-buttons {
  display: flex;
  margin-left: 92px;
  align-items: center;
  gap: 8px;
}

.hero-nav a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.nav-btn {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  width: 124px;
  height: 48px;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-btn-primary {
  background: var(--color-primary);
  border-color: transparent;
  width: 168px;
  height: 48px;
}

.nav-btn-primary:hover {
  background-color: #fbfbfb;
  color: var(--color-primary);
}

.hero-right-body {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.stats-card {
  width: 284px;
  height: 118px;
  background: #fbfbfb;
  border-radius: 20px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.red-square {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-exp-nannies {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.exp-nannies {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
}

.nannies-number {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #11101c;
}

.iconWrap {
  position: relative;
  width: 20px;
  height: 16px;
}

.icon {
  position: absolute;
  inset: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  width: 14px;
  height: 16px;
  color: #fbfbfb;
  transform: translate(-50%, -30%);
}

.iconUp {
  opacity: 1;
  transform: translateY(-2px);
}

.iconRight {
  opacity: 0;
  transform: translateX(-6px);
}

.hero-btn:hover .iconUp {
  opacity: 0;
  transform: translateY(-8px);
}

.hero-btn:hover .iconRight {
  opacity: 1;
  transform: translateX(0);
}