.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(11, 11, 11, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fbfbfb;
  border-radius: 30px;
  width: 565px;
  height: 579px;
  padding: 64px;
  max-width: calc(100% - 60px);
  position: relative;
  opacity: 0;
  transform: translateY(12px) scale(0.9);
  transform-origin: center center;
  animation: modal-in 0.45s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.modalTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #11101c;
}

.modalParagraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}

.modalForm {
  display: flex;
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: column;
}

.fields > *:not(:last-child) {
  margin-bottom: 18px;
}

.modalInput {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding-left: 18px;
  width: 438px;
  height: 52px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #11101c;
}

.fieldError {
  margin-top: 2px;
  font-size: 12px;
  color: #f03f3b;
}

.modalSubmit {
  border: none;
  border-radius: 30px;
  width: 438px;
  height: 52px;
  background: var(--color-primary);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
  margin-top: 40px;
}
